.cards {
  display: grid;
  grid-template-columns: fit-content(460px) 1fr;
  grid-template-rows: min-content 1fr;
  row-gap: 48px;
  column-gap: 40px;
  margin: 0;

  list-style: none;
}

@media screen and (max-width: 1279px) {
  .cards {
    grid-template-columns: fit-content(440px) 1fr;
    column-gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    column-gap: 0;
    column-gap: 28px;
  }
}


@media screen and (max-width: 425px) {
  .cards {
    row-gap: 32px;
  }
}