.cards__title-and-website {
  display: flex;
  margin: 0 0 48px 0;
  column-gap: 40px;
}

@media screen and (max-width: 1279px) {
  .cards__title-and-website {
    column-gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .cards__title-and-website {
    column-gap: 28px;
  }
}

@media screen and (max-width: 700px) {
  .cards__title-and-website {
    display: flex;
    flex-direction: column;
    margin: 0 0 32px 0;
  }
}