.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  width: 92.5%;
  padding: 92px calc((100% - 92.5%)/2) 0;
  justify-content: center;
}

@media screen and (max-width: 1279px) {
  .gallery {
    gap: 14px;
    width: 90.625%;
    padding: 92px calc((100% - 90.625%)/2) 0;
  }
}

@media screen and (max-width: 1023px) {
  .gallery {
    gap: 16px;
    width: 93.75%;
    padding: 88px calc((100% - 93.75%)/2) 0;
  }
}

@media screen and (max-width: 700px) {
  .gallery {
    width: 90%;
    padding: 64px calc((100% - 90%)/2) 0;
  }
}

@media screen and (max-width: 425px) {
  .gallery {
    gap: 12px;
  }
}