.footer__container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 92px 0 24px;
  width: 92.5%;
}

@media screen and (max-width: 1023px) {
  .footer__container {
    width: 93.75%;
    padding: 88px 0 24px;
  }
}

@media screen and (max-width: 700px) {
  .footer__container {
    flex-direction: column;
    width: 90%;
    padding: 70px calc((100% - 90%)/2) 24px;
  }
}