.cards__title {
  margin: 0;

  font-weight: 900;
  font-size: 72px;
  line-height: calc(76/72);
}

@media screen and (max-width: 1023px) {
  .cards__title {
    font-size: 42px;
    line-height: calc(46/42);
  }
}

@media screen and (max-width: 425px) {
  .cards__title {
    margin: 0 calc((100% - 90%)/2) 0;
  
    font-size: 32px;
    line-height: calc(35/32);
  }
}