.cards__paragraphs {
  display: flex;
  flex-direction: column;
  row-gap: 26px;
}

@media screen and (max-width: 1023px) {
  .cards__paragraphs {
    row-gap: 25px;
  }
}

@media screen and (max-width: 425px) {
  .cards__paragraphs {
    width: 90%;
    margin: 0 calc((100% - 90%)/2) 0;
  }
}